*, table, a {
    margin:         0;
    padding:        0;
    border:         none;
    border-spacing: 0;
    border-collapse: collapse;
    text-decoration: none;

}

body, a, table, th, table input, table textarea, option, select {
    font-size:      12px;
    color:          #333;
    line-height:    150%;
    font-family:    "tahoma";
}

body {
    background:     #DEE7EC;
}

table {
    margin:         0 auto;
    width:          1000px;
    background:     white;
}

table td {
    padding:    1px 10px;
    border:     1px dashed #d1d1d1;
}

h1 {
    font-size:      18px;
    padding:        8px 0;
}

div#header {
    margin: 20px auto;
    width:  1200px;
    text-align: center;
    height: 90px;
}

div#content {
    margin: 10px auto;
    width: 1100px;
}

ul.menu {
    list-style: none;
    margin:     15px 0;
}

ul.menu li {
    display:    inline;
}

/*ul.menu li a {
    display:    inline-block;
    padding:    5px;
}

ul.menu li:hover {
    background: #D1D3EE;
    cursor:     pointer;
}

ul.menu li:hover a {
    color:      #333;
}*/

a.delete, a.edit, a.link, a.plansza {
    width:      16px;
    height:     16px;
    display:    inline-block;
    margin:     2px 2px 0 2px;
}

a.delete {
    background: url('admin/delete.png');

}

a.edit {
    background: url('admin/edit.png');
}

a.link {
    background: url('admin/link.png');
}

a.plansza {
    background: url('admin/board.png');
}


span.status {
    width: 12px;
    height: 12px;
    display:block;
    float:left;
    margin: 4px 12px 4px 0px;
}

span.status.main {
    background: url('admin/main.gif') no-repeat;
}

span.status.short {
    background: url('admin/short.gif');
}

span.status.archive {
    background: url('admin/archive.gif');
}

th {
    font-weight: bold;
    padding:    10px;
}

table.formTable {
    width:          880px;
}

table.formTable td, table.zapis td {
    border: none;
}


.medium {
    width:          50%;
}

table.formTable th {
    font-weight:    bold;
    text-align:     left;
    max-width:      100px;
}

table.formTable input.checkbox {
    margin: 0 5px 0 20px;
    width: auto;
}

table.formTable input.radio {
    margin: 0 5px 0 20px;
}

td.lp {
    font-weight:    bold;
    text-align:     right;
    width:          20px;
}

td.data {
    font-weight:    bold;
    width:          80px;
}

td.data.kalendarz {
    width:          100px;
}

td.data.kalendarz input, input.datepicker {
    width:         80px;
}

td.person {
    font-weight:    bold;
    text-align:     left;
    width:          150px;
}

.center {
    text-align:center;
}

td input, td textarea {
    width: 100%;
}

td input.button {
    width: auto;
}

table.zapis {
    width: 320px;
    margin: 8px auto;
}

.kolumna {
    float: left;
}

.zapis td.lp, .zapis th.lp {
    width: 12px;
}

.zapis td.letters, .zapis th.letters {
    width: 80px;
}

.zapis td.words {
    width: 140px;
}

.zapis td.blanki {
    width: 100px;
}

.zapis td.blanki input {
    width: 40%;
}


.zapis td.points, .zapis th.points {
    width: 40px;
}

table.zapis td{
    padding: 0px 2px;
}

table.zapis th {
    padding: 3px 6px;
}


td.icons {
    text-align:     center;
    white-space:    nowrap;
    max-width:      100px;
}

input, textarea {
    padding:        5px;
    margin:         2px;
    background:     white;
    border:         1px solid #ddd;
}

select {
    border:         1px solid #ddd;
    padding:        3px;
}

option {
    padding:        1px;
}

.active7 {
    font-weight:    bold;
    color:          red;
}
.button {
    font-weight: bold !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}

table#plansza {
    width: 600px;
}

table#plansza td {
    width:          30px;
    height:         30px;
    font-weight:    bold;
    line-height:    25px;
    background:     #3C8571;
    border:         1px solid #23574B;
    padding:        0;
}
table#plansza th {
    width:          20px;
    height:         20px;
    background:     #23574B;
    border:         1px solid #23574B;
    color:          white;
    font-weight:    normal;
    font-size:      10px;
    padding:        0;
}
table#plansza td.red {
    background:     #DB3920;
}
table#plansza td.lightred {
    background:     #EFA284;
}
table#plansza td.blue	{
    background:     #4194E0;
}
table#plansza td.lightblue {
    background:     #79B6E5;
}
table#plansza input {
    text-align:     center;
    border:         none;
    background:     inherit;
	width:          100%;
	height:         28px;
	line-height:    28px;
	font-size:      17px;
	font-weight:    bold;
    margin:         0;
    padding: 0;
}
table#plansza input.blank {
	color:          white;
}

.todo { margin-bottom: 30px;}
.important { color: red !important; }
a.important { font-weight: bold; }

div#loader {
    width: 100%;
    position: fixed;
    z-index:1000;
    top: 300px;
    display: none;
}

div#loader div {
    width: 74px;
    height: 74px;
    background: white url('admin/loader.gif') no-repeat 15px 15px;
    margin: auto;
    border: 1px solid #ccc;
    -moz-box-shadow: 2px 3px 5px #aaa;
    -webkit-box-shadow: 2px 3px 5px #aaa;
    box-shadow: 2px 3px 5px #aaa;
}

div#message_box {
    width: 100%;
    position: fixed;
    z-index:1000;
    top: 300px;
    display: none;
}

div#message_box div.txt {
    margin: auto;
    width: 400px;
    height: 60px;
    background: white;
    padding: 20px;
    -moz-box-shadow: 2px 3px 5px #aaa;
    -webkit-box-shadow: 2px 3px 5px #aaa;
    box-shadow: 2px 3px 5px #aaa;
    border: 1px solid #ccc;
    text-align: center;
    -webkit-border-radius:     10px;   /* Safari, Chrome */
    -khtml-border-radius:      10px;     /* Konqueror */
    -moz-border-radius:        10px;       /* Firefox */
    border-radius:             10px;
}

div#message_box.info div.txt {
    border: 1px solid #6BA50D;
    background: #DCEAC5;
}

div#message_box.error div.txt {
    border: 1px solid #CC0A17;
    background: #F7E1E2;
}
