#slideshow {
	color: #bbb;
	margin:0 auto;
	width:800px;
	height:300px;
	background:transparent url('../img/bg_slideshow.png') repeat-x;
	position:relative;
}
#slideshow #slidesContainer {
	margin:0 auto;
	width: 720px;
	height: 300px;
	overflow:auto; 
	position:relative;
}
#slideshow #slidesContainer .slide {
	margin:0 auto;
	width: 700px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
	height: 300px;
}
.control {
	display:block;
	width: 50px;
	height: 300px;
	text-indent:-10000px;
	position:absolute;
	cursor: pointer;
	top:0;
}
#leftControl {
	left:0;
	background:transparent url('../img/control_left.png') no-repeat 0 0;
}
#rightControl {
	right:0;
	background:transparent url('../img/control_right.png') no-repeat 0 0;
}

#slideshow a {
	color: #fff;
	font-weight:bold;
	text-decoration:none;
}
#slideshow a:hover {
	text-decoration:underline;
}

.slide h2, .slide p {
  margin:20px 25px;
}
.slide h2 {
  font:italic 24px Georgia, "Times New Roman", Times, serif;
  color:white;
  letter-spacing:-1px;
  border-bottom: white 1px solid;
}
#thumbscontainer{
	margin: 20px 0;
	background: #1D323B;
	width: 948px;
	margin-left: -24px;
	padding: 10px 0 4px 0;
	text-align: center;
}
.slide img {
  float:right;
  margin:0 0 0 15px;
  border: white 3px solid;
  max-height: 200px;
}
.thumb{
	list-style:none;
	display: inline;
	position:relative;
	margin: 0 2px;
}
li:hover.thumb{
	cursor: pointer;
	color: white;
	text-decoration: underline;
}
.thumb img{
	max-height: 60px;
	border: white 1px solid;
	margin-bottom: 16px;
}
.thumb span{
	position:absolute;
	bottom:6px;
	line-height:10px;
	text-align: center;
	width:100%;
	left:0;
	font-weight: bold;
	color: white;
}