/* line 3, style.scss */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 9, style.scss */
body {
  background: url('/files/img/bkg-body.png?1441633472');
  color: #222222;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  line-height: 140%;
  text-align: justify;
}

/* line 18, style.scss */
#top {
  position: absolute;
  background: url("../img/bkg-top.png") no-repeat;
  height: 140px;
  width: 968px;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  cursor: pointer;
}

/* line 31, style.scss */
#rss {
  float: right;
  margin: 5px 15px;
  background: url("../img/rss.gif") no-repeat;
  width: 24px;
  height: 24px;
  z-index: 4;
}

/* line 40, style.scss */
#content {
  position: relative;
  background: url("../img/bkg-content.png") repeat-y;
  margin: 0 auto;
  padding: 20px 34px;
  width: 900px;
  min-height: 400px;
  z-index: 0;
}

/* line 50, style.scss */
#bottom {
  position: relative;
  background: url("../img/bkg-bottom.png") no-repeat;
  clear: both;
  margin: 0 auto;
  width: 968px;
  height: 70px;
  text-align: center;
  color: white;
  font-size: 9px;
  padding-top: 15px;
}

/* line 63, style.scss */
#bottomlinks {
  display: block;
  margin: 0 auto 15px auto;
  width: 968px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  list-style: none;
  font-size: 10px;
  font-family: Tahoma, sans-serif;
}

/* line 75, style.scss */
#menu {
  position: relative;
  margin: 112px auto 0 auto;
  height: 70px;
  width: 960px;
}

/* line 82, style.scss */
#menu .tab {
  position: absolute;
  height: 60px;
  width: 106px;
  float: left;
  background: url("../img/menu.png") no-repeat scroll;
  z-index: 1;
  padding-bottom: 10px;
}

/* line 91, style.scss */
#menu div:hover.tab {
  background-image: url("../img/menuh.png");
}

/* line 94, style.scss */
#menu .active .tab, #menu .active div:hover.tab {
  background-image: url("../img/menua.png");
}

/* line 98, style.scss */
#m_glowna .tab {
  background-position: -4px 0;
  margin-left: 11px;
}

/* line 99, style.scss */
#m_turnieje .tab {
  background-position: -118px 0;
  margin-left: 115px;
}

/* line 100, style.scss */
#m_pfs .tab {
  background-position: -232px 0;
  margin-left: 218px;
}

/* line 101, style.scss */
#m_scrabble .tab {
  background-position: -346px 0;
  margin-left: 323px;
}

/* line 102, style.scss */
#m_ranking .tab {
  background-position: -460px 0;
  margin-left: 427px;
}

/* line 103, style.scss */
#m_scrabblisci .tab {
  background-position: -574px 0;
  margin-left: 531px;
}

/* line 104, style.scss */
#m_kluby .tab {
  background-position: -688px 0;
  margin-left: 635px;
}

/* line 105, style.scss */
#m_roznosci .tab {
  background-position: -802px 0;
  margin-left: 739px;
}

/* line 106, style.scss */
#m_english .tab {
  background-position: -916px 0;
  margin-left: 843px;
}

/* line 108, style.scss */
#menu .tab a {
  width: 104px;
  height: 57px;
  display: block;
  cursor: pointer;
}

/* line 115, style.scss */
#menu .active .tab a {
  height: 35px;
}

/* line 119, style.scss */
#menu ul {
  display: none;
  position: absolute;
  margin-top: 76px;
  width: 928px;
  height: 30px;
  line-height: 30px;
  list-style: none;
  vertical-align: middle;
  text-align: center;
  z-index: 2;
  font-size: 11px;
}

/* line 132, style.scss */
#menu ul li, #bottomlinks li {
  display: inline;
  padding: 0 12px;
  border-left: 1px solid #2B464F;
}

/* line 137, style.scss */
#menu ul li:first-child, #bottomlinks li:first-child {
  border-left: none;
}

/* line 140, style.scss */
#menu ul li a, #bottomlinks li a {
  color: white;
}

/* line 143, style.scss */
#menu ul li a:hover, #bottomlinks li a:hover, #menu li.active_tab a {
  color: #1576AE;
  text-decoration: none;
}

/* line 147, style.scss */
#menu .active ul {
  display: block;
}

/* line 151, style.scss */
#submenu {
  background: url("../img/submenu.png") no-repeat;
  margin: 0 auto;
  text-align: center;
  width: 968px;
  height: 120px;
  z-index: 0;
}

/***************************************************************************************************************************/
/***************************************************************************************************************************/
/***************************************************************************************************************************/
/* line 166, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  color: inherit;
}

/* line 173, style.scss */
table td {
  vertical-align: top;
}

/* line 177, style.scss */
a {
  color: #1576AE;
  text-decoration: none;
  cursor: pointer;
}

/* line 183, style.scss */
a:hover, area:hover {
  /*color: #E7484F;*/
  color: #1576AE;
  text-decoration: underline;
  cursor: pointer;
}

/* line 190, style.scss */
h1 {
  text-align: center;
  margin-top: -100px;
  margin-bottom: 30px;
  height: 30px;
  padding: 20px;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

/* line 201, style.scss */
h1 img {
  margin: 0 -3px;
}

/* line 205, style.scss */
h1 span {
  display: block;
  font-size: 11px;
  font-weight: normal;
  font-style: italic;
  margin-top: 4px;
}

/* line 213, style.scss */
h2 {
  clear: both;
  margin: 20px 0 10px 0;
  padding: 0px 0 3px 0;
  color: #1576AE;
  border-bottom: 1px solid #1576AE;
  font-size: 12px;
  font-weight: bold;
  font-family: inherit;
  text-align: left;
}

/*h2 span{
    color: #222222;
    font-size: 11px;
    font-weight:normal;
}*/
/* line 231, style.scss */
pre {
  font-family: "Courier New";
  font-size: 12px;
  color: #222222;
}

/* line 237, style.scss */
ul, ol {
  padding-left: 30px;
}

/* line 241, style.scss */
input, textarea, select {
  border: 1px solid #C8D1DF;
}

/* line 245, style.scss */
.alignright {
  text-align: right;
}

/* line 246, style.scss */
.alignleft {
  text-align: left;
}

/* line 247, style.scss */
.aligncenter {
  text-align: center;
}

/* line 248, style.scss */
.wzor {
  background: url("../img/wzor.jpg") no-repeat;
}

/* line 249, style.scss */
.email {
  background: url("../img/email.png") no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}

/* line 250, style.scss */
.gp {
  background: url("../img/map-2.png") no-repeat;
  width: 12px;
  height: 12px;
  line-height: 12px;
  padding-left: 15px;
  font-weight: bold;
  color: #E2A21D;
  vertical-align: bottom;
}

/* line 251, style.scss */
.mr {
  width: 12px;
  height: 12px;
  line-height: 12px;
  padding-left: 15px;
  font-weight: bold;
  color: #0000FF;
  vertical-align: bottom;
}

/* line 252, style.scss */
.mrpomorze {
  width: 12px;
  height: 12px;
  line-height: 12px;
  padding-left: 15px;
  font-weight: bold;
  color: #E2A21D;
  vertical-align: bottom;
}

/* line 253, style.scss */
.mrpoludnie {
  width: 12px;
  height: 12px;
  line-height: 12px;
  padding-left: 15px;
  font-weight: bold;
  color: #55CF17;
  vertical-align: bottom;
}

/* line 254, style.scss */
.mrwschod {
  width: 12px;
  height: 12px;
  line-height: 12px;
  padding-left: 15px;
  font-weight: bold;
  color: #F7300E;
  vertical-align: bottom;
}

/*.gp:hover{ background: url('../img/gp_hover.png') no-repeat; color: #E7484F; }*/
/* line 256, style.scss */
.ramka {
  border: 1px dashed #1576AE;
}

/* line 257, style.scss */
.ramkadolna, .ramkadolna td {
  border-bottom: 1px dashed #1576AE;
}

/* line 258, style.scss */
.onleft {
  float: left;
  margin: 4px 16px 4px 0;
}

/* line 259, style.scss */
.onright {
  float: right;
  margin: 4px 0 4px 16px;
}

/* line 261, style.scss */
.slowa {
  font-family: "Courier New";
  font-size: 12px;
  letter-spacing: 0.2ex;
  text-align: left;
}

/* line 268, style.scss */
a.zapis {
  background: url("../img/zapis.png") no-repeat;
  display: block;
  float: left;
  margin-right: 4px;
  height: 16px;
  width: 16px;
}

/* line 277, style.scss */
li.zapis {
  list-style: none;
  margin-left: -20px;
}

/* line 282, style.scss */
p.litera:first-letter {
  color: #1576AE;
  font-size: 14px;
  font-weight: bold;
}

/***************************************************************************************************************************/
/* line 290, style.scss */
.przycisk {
  background: url("../img/przycisk.png") no-repeat;
  display: block;
  float: left;
  margin: 3px 2px 3px 2px;
  width: 91px;
  height: 28px;
  line-height: 26px;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

/* line 305, style.scss */
input.przycisk {
  line-height: 1em;
  border: none;
  padding-bottom: 5px;
}

/* line 311, style.scss */
.przycisk:hover, a.przycisk:hover, a.przycisk.active {
  color: white;
  background: url("../img/przyciskh.png") no-repeat;
  cursor: pointer;
  text-decoration: none;
}

/***************************************************************************************************************************/
/* line 320, style.scss */
.relacja {
  margin: 10px 0;
}

/* line 324, style.scss */
.autor {
  display: block;
  padding: 10px 0;
  font-style: italic;
}

/* line 330, style.scss */
.relacja .turniej {
  display: block;
  padding: 10px 0;
  color: #1576AE;
}

/* line 336, style.scss */
.relacja img {
  padding: 8px;
  background: white;
  border: 1px solid #aaa;
}

/* line 342, style.scss */
.skrot {
  float: left;
  margin: 10px 20px 0 0;
  width: 430px;
}

/* line 348, style.scss */
.skrot span {
  display: block;
  margin: 10px 0;
  padding-bottom: 3px;
  width: 430px;
  color: #1576AE;
  font-size: 11px;
  font-weight: bold;
  text-align: left;
}

/***************************************************************************************************************************/
/* line 361, style.scss */
table.zapisy {
  border: 1px solid #1576AE;
  margin: 10px 0;
}

/* line 366, style.scss */
table.zapisy td {
  padding: 2px 12px;
  border-right: 1px dashed #1576AE;
  border-left: 1px dashed #1576AE;
  border-bottom: 1px solid #1576AE;
  border-top: 1px solid #1576AE;
}

/* line 374, style.scss */
table.zapisy td.rok {
  font-weight: bold;
}

/***************************************************************************************************************************/
/* line 380, style.scss */
table.klasyfikacja {
  text-align: center;
  margin: 10px 0;
  border: 1px solid #1576AE;
}

/* line 386, style.scss */
table.klasyfikacja td {
  padding: 3px 4px;
  border-right: 1px dashed #1576AE;
  border-left: 1px dashed #1576AE;
  border-bottom: 1px solid #1576AE;
  border-top: 1px solid #1576AE;
}

/* line 394, style.scss */
table.klasyfikacja tr:first-child {
  font-weight: bold;
}

/* line 398, style.scss */
table.klasyfikacja td:first-child {
  padding: 3px 4px;
  font-weight: bold;
  text-align: right;
}

/* line 404, style.scss */
table.klasyfikacja td.osoba {
  text-align: left;
  width: 150px;
}

/* line 408, style.scss */
table.klasyfikacja td.lighter {
  background: #EDF7AA;
}

/* line 412, style.scss */
table.klasyfikacja td.suma {
  font-weight: bold;
  background: #7ECCFB;
}

/***************************************************************************************************************************/
/* line 419, style.scss */
div.uchwala {
  margin-top: 40px;
}

/* line 423, style.scss */
div.uchwala strong {
  color: #1576AE;
  font-weight: bold;
  display: block;
  margin: 15px 0;
  border-bottom: 1px solid #1576AE;
  padding-bottom: 2px;
}

/* line 432, style.scss */
div.uchwala table td {
  padding: 4px 10px;
}

/* line 436, style.scss */
div.uchwala ol, div.uchwala ul {
  margin: 10px;
}

/* line 440, style.scss */
div.uchwala ul li {
  padding: 4px 0;
}

/* line 444, style.scss */
.nieaktualne, .red {
  color: #D63831 !important;
  display: inline;
}

/* line 448, style.scss */
a.nieaktualne:hover {
  color: inherit;
}

/* line 452, style.scss */
.naglowekrelacji {
  color: #eee;
  background: #123347;
  width: 900px;
  margin: 7px 0 20px -24px;
  padding: 12px 24px;
  text-align: left;
}

/* line 460, style.scss */
.naglowekrelacji .tytul {
  font-size: 15px;
  font-weight: bold;
  display: block;
  line-height: 18px;
}

/* line 466, style.scss */
.naglowekrelacji .tytul .nazwa {
  font-size: 10px;
  display: block;
  font-weight: normal;
  margin: 8px 0;
}

/* line 473, style.scss */
div.galleries a {
  background: url("../img/gallery.png") no-repeat;
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 3px;
}

/*** ANAGRAMATOR *****/
/* line 483, style.scss */
div.anag {
  margin: 0 12px 30px 0;
  margin-left: 0;
  background: url("../img/header.png") no-repeat;
  text-align: center;
  width: 250px;
  float: left;
  height: 32px;
  padding-top: 30px;
  vertical-align: middle;
}

/* line 494, style.scss */
div.anag input {
  vertical-align: middle;
  display: inline;
  margin-left: 8px;
  margin-top: 10px;
}

/* line 500, style.scss */
div.wyniki {
  float: left;
  height: auto;
  margin: 0px 20px 30px 20px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

/* line 508, style.scss */
div.wyniki .kol {
  width: 130px;
  float: left;
}

/* line 512, style.scss */
div.wyniki span.normal {
  color: inherit;
}

/* line 515, style.scss */
div.wyniki span.red {
  color: #DC0031;
}

/* line 518, style.scss */
div.info {
  font-weight: bold;
  margin: 40px;
}

/* line 522, style.scss */
div.info img {
  vertical-align: middle;
}
