@import "compass";

#panelprawy{
    float: right;
    margin: -75px -15px 0 15px;
    width: 220px;
    text-align: center;
}

#panellewy{
    float: left;
    width: 670px;
}

.panel{
    background: url('../img/bkg-panel.png') no-repeat;
    height: 420px;
    color: #F7F7D7;
    padding: 16px 10px 0px 10px;
    overflow: hidden;
}

.panellong{
    background: url('../img/bkg-panel450.png') no-repeat;
    height: 450px;
    color: #F7F7D7;
    padding: 16px 10px 0px 10px;
    overflow: hidden;
}
.paneltmp{
    background: url('../img/bkg-panel450.png') no-repeat;
    height: 450px;
    color: #F7F7D7;
    padding: 16px 10px 0px 20px;
    overflow: hidden;
}
.alignleftinfo     { text-align: left; padding: 0px 0px 0px 10px;}
.short{
    background: url('../img/bkg-panelshort.png') no-repeat;
    height: 250px;
}

.panel div{
    margin-top: 5px;
}

.panellong div{
    margin-top: 5px;
}

div.panel div.panellong div.text{
    padding: 0px 15px;
}
.panel a{
    color: white;
}

.panel a:hover{
    color: #1576AE;
    text-decoration: none;
}

#nextTours{
    vertical-align: middle;
    text-align:center;
    margin-top:-110px;
    margin-left: 360px;
    width:320px;
    height:105px;
    position: relative;
}

#nextTours .nextTour {
    cursor: pointer;
}

#nextTours:hover a{
    text-decoration: none;
}

#nextTours div.karteczka{
    height: 70px;
    width: 75px;
    float: left;
    margin: 0 10px;
    padding: 25px 4px 10px 4px;
}

#nextTours div.kartka{
    display: none;
    position: absolute;
    height: 92px;
    width: 193px;
    float: left;
    padding: 29px 6px 10px 6px;
    z-index:3;
    top: -4px;
}

#nextTours .small1  {   background: url('../img/calendar1.png') no-repeat;}
#nextTours .small2  {   background: url('../img/calendar2.png') no-repeat;}
#nextTours .small3  {   background: url('../img/calendar3.png') no-repeat;}
#nextTours .big1    {   background: url('../img/calendar1big.png') no-repeat;   left: -70px;}
#nextTours .big2    {   background: url('../img/calendar2big.png') no-repeat;   left: 40px;}
#nextTours .big3    {   background: url('../img/calendar3big.png') no-repeat;   left: 150px;}

#nextTours div span.miasto{
    font-weight: bold;
    color: white;
    display: block;
    font-size: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    height: 18px;
}

#nextTours div.kartka span.miasto{
    margin-bottom: 18px;
}

#nextTours div.karteczka span.dzien .big{
    font-size: 18px;
    font-weight: bold;
}
#nextTours div span.nazwaturnieju{
    margin: 0 auto;
    display: block;
}

#boxy{
    position: absolute;
    width: 400px;
    height: 50px;
    top: -70px;
}

.box1{
    float: left;
    background: #696969;
    margin: 0px 4px;
    border: 1px solid #696969;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}

.box{
    float: left;
    background: #126897;
    margin: 0px 4px;
    border: 1px solid #1473A7;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
}
div.box:hover{
    background: #188BCB;
    cursor: pointer;
}
div.box a, div.box1 a, div.box:hover a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}
div.box img{
    max-height: 90px;
    float:left;
    margin: 15px;
}
div.box span.tekst, div.box span.live{
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    height: 90px;
    text-align: center;
    width: 200px;
}

div.box span.live{
    left: 15px;
    top: 60px;
    height: 60px;
    width: auto;
    font-weight: bold;
}

#nowosci{
    position: absolute;
    top: -50px;
    right: 0;
    width: 450px;
    height: 350px;
    border: 2px solid red;
    z-index: 1077770;
    background: #2F5260 url('../img/bkg-body.png') repeat scroll;
    text-align: left;
    display: none;
}

.rel_switch {
    display: inline;
    float: left;
    clear: right;
    cursor: pointer;
    font-size: 10px;
    color: #f8f8d2;
    margin: -18px 1px 0px 0px;
    padding: 2px 14px;
    height: 20px;
    line-height: 20px;
    background: #123247;
    text-align: center;
    font-weight: bold;
    -webkit-border-top-right-radius:    6px;   /* Safari, Chrome */
    -webkit-border-top-left-radius:     6px;   /* Safari, Chrome */
    -khtml-border-radius-topright:      6px;     /* Konqueror */
    -khtml-border-radius-topleft:       6px;     /* Konqueror */
    -moz-border-radius-topright:        6px;       /* Firefox */
    -moz-border-radius-topleft:         6px;       /* Firefox */
    border-top-right-radius:            6px;
    border-top-left-radius:             6px;
}
.rel_container{
    display: none;
}
